---
import MainLayout from "../layout/mainLayout.astro";
import Carrusel from "../components/carrusel/Carrusel";
---
<MainLayout title="Home" icon="favicon.svg">
    <h1>Home</h1>
    <Carrusel client:load />
</MainLayout>