---
import { ViewTransitions } from 'astro:transitions'

interface Props {
    title?: string,
    icon?: string, 
    content?: string
}

const {title, icon, content } = Astro.props
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="icon" type="image/svg+xml" href={icon} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="generator" content={Astro.generator} />
    <meta name='description' content={content}>
    <title>| {title}</title>
    <ViewTransitions/>
</head>

<body>
    <slot/>
</body>
</html>

<style>
    body{
        background-color: rgb(13, 2, 114);
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
</style>